# Parsing web data
requests==2.22.0
beautifulsoup4==4.7.1
html5lib==1.0.1
lxml==4.3.4
# Sending texts
twilio==6.35.2
# Spreadsheet logging
gspread==3.6.0
google-api-python-client==1.8.2
google-auth==1.14.1
oauth2client==4.1.3
